de.tudarmstadt.ukp.dkpro.core-asl/tags/de.tudarmstadt.ukp.dkpro.core-asl-1.4.0/de.tudarmstadt.ukp.dkpro.core.io.wsdl-asl/src/test/resources/wsdl/litmus.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="LitmusAPI" xmlns:typens="urn:ActionWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:ActionWebService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ActionWebService">
      <xsd:complexType name="EmailTest">
        <xsd:all>
          <xsd:element name="Results" type="typens:ClientArray"/>
          <xsd:element name="TestType" type="xsd:string"/>
          <xsd:element name="State" type="xsd:string"/>
          <xsd:element name="InboxGUID" type="xsd:string"/>
          <xsd:element name="Subject" type="xsd:string"/>
          <xsd:element name="ID" type="xsd:int"/>
          <xsd:element name="Sandbox" type="xsd:boolean"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PageTest">
        <xsd:all>
          <xsd:element name="Results" type="typens:ClientArray"/>
          <xsd:element name="TestType" type="xsd:string"/>
          <xsd:element name="State" type="xsd:string"/>
          <xsd:element name="URL" type="xsd:string"/>
          <xsd:element name="Sandbox" type="xsd:boolean"/>
          <xsd:element name="ID" type="xsd:int"/>
          <xsd:element name="Title" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ClientArray">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="typens:Client[]" ref="soapenc:arrayType"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="Client">
        <xsd:all>
          <xsd:element name="BusinessOrPopular" type="xsd:boolean"/>
          <xsd:element name="WindowImageThumbNoContentBlocking" type="xsd:string"/>
          <xsd:element name="FullpageImage" type="xsd:string"/>
          <xsd:element name="WindowImageNoContentBlocking" type="xsd:string"/>
          <xsd:element name="PlatformName" type="xsd:string"/>
          <xsd:element name="WindowImageThumb" type="xsd:string"/>
          <xsd:element name="PlatformLongName" type="xsd:string"/>
          <xsd:element name="FullpageImageThumbContentBlocking" type="xsd:string"/>
          <xsd:element name="WindowImage" type="xsd:string"/>
          <xsd:element name="FullpageImageContentBlocking" type="xsd:string"/>
          <xsd:element name="SupportsContentBlocking" type="xsd:boolean"/>
          <xsd:element name="ApplicationName" type="xsd:string"/>
          <xsd:element name="FullpageImageThumbNoContentBlocking" type="xsd:string"/>
          <xsd:element name="DesktopClient" type="xsd:boolean"/>
          <xsd:element name="WindowImageThumbContentBlocking" type="xsd:string"/>
          <xsd:element name="FullpageImageNoContentBlocking" type="xsd:string"/>
          <xsd:element name="ApplicationLongName" type="xsd:string"/>
          <xsd:element name="WindowImageContentBlocking" type="xsd:string"/>
          <xsd:element name="FullpageImageThumb" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="GetPageTest">
    <part name="apiKey" type="xsd:string"/>
    <part name="apiPass" type="xsd:string"/>
    <part name="pageTestID" type="xsd:int"/>
  </message>
  <message name="GetPageTestResponse">
    <part name="return" type="typens:PageTest"/>
  </message>
  <message name="GetPageTestClients">
    <part name="apiKey" type="xsd:string"/>
    <part name="apiPass" type="xsd:string"/>
  </message>
  <message name="GetPageTestClientsResponse">
    <part name="return" type="typens:ClientArray"/>
  </message>
  <message name="CreatePageTest">
    <part name="apiKey" type="xsd:string"/>
    <part name="apiPass" type="xsd:string"/>
    <part name="param2" type="typens:PageTest"/>
  </message>
  <message name="CreatePageTestResponse">
    <part name="return" type="typens:PageTest"/>
  </message>
  <message name="CreateEmailTest">
    <part name="apiKey" type="xsd:string"/>
    <part name="apiPass" type="xsd:string"/>
    <part name="param2" type="typens:EmailTest"/>
  </message>
  <message name="CreateEmailTestResponse">
    <part name="return" type="typens:EmailTest"/>
  </message>
  <message name="GetEmailTestClients">
    <part name="apiKey" type="xsd:string"/>
    <part name="apiPass" type="xsd:string"/>
  </message>
  <message name="GetEmailTestClientsResponse">
    <part name="return" type="typens:ClientArray"/>
  </message>
  <message name="GetEmailTest">
    <part name="apiKey" type="xsd:string"/>
    <part name="apiPass" type="xsd:string"/>
    <part name="emailTestID" type="xsd:int"/>
  </message>
  <message name="GetEmailTestResponse">
    <part name="return" type="typens:EmailTest"/>
  </message>
  <portType name="LitmusAPISoapPort">
    <operation name="GetPageTest">
      <input message="typens:GetPageTest"/>
      <output message="typens:GetPageTestResponse"/>
    </operation>
    <operation name="GetPageTestClients">
      <input message="typens:GetPageTestClients"/>
      <output message="typens:GetPageTestClientsResponse"/>
    </operation>
    <operation name="CreatePageTest">
      <input message="typens:CreatePageTest"/>
      <output message="typens:CreatePageTestResponse"/>
    </operation>
    <operation name="CreateEmailTest">
      <input message="typens:CreateEmailTest"/>
      <output message="typens:CreateEmailTestResponse"/>
    </operation>
    <operation name="GetEmailTestClients">
      <input message="typens:GetEmailTestClients"/>
      <output message="typens:GetEmailTestClientsResponse"/>
    </operation>
    <operation name="GetEmailTest">
      <input message="typens:GetEmailTest"/>
      <output message="typens:GetEmailTestResponse"/>
    </operation>
  </portType>
  <binding name="LitmusAPISoapBinding" type="typens:LitmusAPISoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="GetPageTest">
      <soap:operation soapAction="/soap/api/GetPageTest"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetPageTestClients">
      <soap:operation soapAction="/soap/api/GetPageTestClients"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="CreatePageTest">
      <soap:operation soapAction="/soap/api/CreatePageTest"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="CreateEmailTest">
      <soap:operation soapAction="/soap/api/CreateEmailTest"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetEmailTestClients">
      <soap:operation soapAction="/soap/api/GetEmailTestClients"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
    <operation name="GetEmailTest">
      <soap:operation soapAction="/soap/api/GetEmailTest"/>
      <input>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </input>
      <output>
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:ActionWebService" use="encoded"/>
      </output>
    </operation>
  </binding>
  <service name="LitmusAPIService">
    <port name="LitmusAPISoapPort" binding="typens:LitmusAPISoapBinding">
      <soap:address location="http://soap.litmusapp.com/soap/api"/>
    </port>
  </service>
</definitions>
